################################################################################
# Visual Studio
################################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Build results
################################################################################

[Bb]in/
[Oo]bj/
[Ll]og/

################################################################################
# Visual Studio cache
################################################################################

.vscode/
*.cache
*.log

################################################################################
# NuGet
################################################################################

*.nupkg
packages/
.nuget/

################################################################################
# OS files
################################################################################

.DS_Store
Thumbs.db

################################################################################
# Rider / Resharper
################################################################################

_ReSharper*/
*.DotSettings.user

################################################################################
# Publish
################################################################################

publish/